
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins','Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.max-w-8xl {
  max-width: 88rem;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  opacity: 1;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 2px #000;
  opacity: 0.9;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #000;
  background: #000;
  opacity: 1;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}